/* choice modal pop-up */
.choice-modal-wrapper {
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
    width: 18em;
    height: 8em;
    z-index: 2;
    box-shadow: 0 0 0.5rem rgb(246, 246, 246);
    border-radius: 0.3em;
    border: var(--dark-gray) solid 0.15em;
    color: whitesmoke;
    margin: auto auto 0.5em;
}

.modal-title {
    text-align: center;
    font-weight: bolder;
}

.btn-sec-dec-yes {
    background-image: url('../../images/decision/even-yes.png');
}

.btn-sec-dec-no {
    background-image: url('../../images/decision/even-no.png');
}

.btn-err-ok {
    background: var(--btn-circle);
}

.check-icon {
    font-size: 2.8em;
    position: absolute;
    color: black;
}

.choice-box {
    text-align: center;
    align-content: center;
}

/* EO: choice modal pop-up */

/*#dimmer {*/
/*    display: inline-block;*/

/*    width: 100%;*/
/*    height: 100%;*/

/*    z-index: 1;*/

/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/

/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    opacity: 0.4;*/
/*}*/

/* err modal */
.err-modal-wrapper {
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
    width: 18em;
    height: 10.5em;
    z-index: 2;
    margin: auto;
    box-shadow: 0 0 0.5rem rgb(246, 246, 246);
    border-radius: 0.3em;
    border: var(--dark-gray) solid 0.15em;

    color: whitesmoke;
}

.err-modal-wrapper-dep-link {
    height: 11.2em;
}

.go-to-link {
    font-weight: bolder;
    border: whitesmoke 0.15em solid;
    background-color: var(--btn-circle);
    color: whitesmoke;
}

.go-to-link:hover {
    border: whitesmoke 0.15em solid;
    transform: scale(0.94);
    filter: brightness(125%);
}

/* EO:err modal */