<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.index.title}">Blackjack Lobby</title>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <script defer th:src="@{/js/weather/weather.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>

<body class="body-index">

<header th:replace="~{fragment/common::navbar}"></header>

<main>
    <div>
        <div class="container-index mt-4">
            <div class="welcome-msg" th:text="#{index.welcome}">Welcome to BLACKJACK</div>

            <hr class="index-divider"/>

            <p class="intro-msg mb-2">
                <th:block th:if="${username}" th:text="#{index.after.activate.account.greeter}">Welcome,</th:block>
                <span th:if="${username}" class="color-indianred fw-bold" th:text="${username} + '. '">username</span>
                <th:block th:text="#{index.intro} + '.'">Enjoy one of the most widely played casino games in the world.</th:block>
            </p>

            <hr class="index-divider"/>

            <p class="mb-0">
                <a class="index-text-link fw-bolder"
                   th:text="#{index.login}"
                   th:href="@{/auth/login}">Login</a>
                <span class="info-msg mx-1" th:text="#{index.account}">if you have an account or</span>
                <a class="index-text-link fw-bolder"
                   th:text="#{index.register}"
                   th:href="@{/auth/register}">Register</a>
                <span class="info-msg ms-1" th:text="#{index.play} + '.'">now and play.</span>
            </p>
        </div>

        <div class="weather-section">
            <div class="weather-box">
                <span class="weather-msg" th:text="#{index.weather}">Weather in</span>
                <span class="city-msg" th:text="#{index.sofia}">Sofia</span>
                <span class="celsius-msg">
                    <span id="box-a-temp">15</span>
                    <span>&#8451;</span>
                </span>
                <img id="box-a-img" th:src="@{/images/weather/sun.png}" height="120px" alt="sunny" src="">
            </div>

            <div class="weather-box">
                <span class="weather-msg" th:text="#{index.weather}">Weather in</span>
                <span class="city-msg" th:text="#{index.vegas}">Las Vegas</span>
                <span class="celsius-msg">
                    <span id="box-b-temp">15</span>
                    <span>&#8451;</span>
                </span>
                <img id="box-b-img" th:src="@{/images/weather/cloudy.png}" height="120px" alt="cloudy" src="">
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragment/common::footer}"></footer>

</body>

</html>
