<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play BJ</title>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <link th:href="@{/css/play/bj-play.css}" rel="stylesheet">
    <link th:href="@{/css/play/choice-modal.css}" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragment/common::navbar}"></header>

<div class="wrapper" th:object="${game}">
    <div class="cards-wrapper">
        <div class="game-metadata-wrapper">
            <span class="game-info" th:text="#{game.user} + ':'">User</span>
            <div class="small-deli"></div>
            <span class="game-metadata" th:text="${#authentication.principal.username}">username</span>
            <span class="deli"></span>
            <span class="game-info" th:text="#{game.id} + ':'">Game ID</span>
            <div class="small-deli"></div>
            <span class="game-metadata"
                  th:classappend="*{hash == 'NO ID'} ? 'gray' : ''"
                  th:text="*{hash}">id_hash</span>
        </div>

        <div class="game-wrapper">
            <div class="row dealer-cards">
                <div class="dealer-cards-box">
                    <div class="col-12 play-card-wrapper" th:if="${game.dealerCards.size == 1}"
                         th:with="card=${game.dealerCards.get(0)}">
                        <img th:src="@{'./../images/playing_card/' + ${card.rank} + '-' + ${card.suit} +'.png'}"
                             alt="" class="play-card"
                             th:classappend="'d-' + *{dealerCardsOdd} + '-6'"/>
                        <img th:src="@{'./../images/playing_card/back-2.png'}"
                             alt="" class="play-card"
                             th:classappend="'d-' + *{dealerCardsOdd} + '-7'"/>
                    </div>
                    <div class="col-12 play-card-wrapper" th:unless="${game.dealerCards.size == 1}">
                        <img th:each="c, i : *{dealerCards}"
                             th:src="@{'./../images/playing_card/' + ${c.rank} + '-' + ${c.suit} +'.png'}"
                             alt="" class="play-card"
                             th:classappend="'d-' + *{dealerCardsEven} + '-' + ${game.dDealerCards + i.index}"/>
                    </div>
                    <div class="score-box">
                        <span class="curr-result-user" th:text="#{game.dealer} + ':'">Dealer</span>
                        <div class="small-deli"></div>
                        <span class="curr-result-box" th:text="*{dealerScore}">100</span>
                    </div>
                </div>
            </div>

            <div class="row player-cards">
                <div class="player-cards-box">
                    <div class="col-12 play-card-wrapper" th:unless="${doubleDown}">
                        <img th:each="c, iStat : *{playerCards}"
                             th:src="@{'./../images/playing_card/' + ${c.rank} + '-' + ${c.suit} +'.png'}"
                             alt="" class="play-card"
                             th:classappend="'d-' + *{playerCardsEven} + '-' + ${game.dPlayerCards + iStat.index}"/>
                    </div>

                    <div class="col-12 play-card-wrapper" th:if="${doubleDown}">
                        <img th:unless="${iStat.index == iStat.size - 1}"
                             th:each="c, iStat : *{playerCards}"
                             th:src="@{'./../images/playing_card/' + ${c.rank} + '-' + ${c.suit} +'.png'}"
                             alt="" class="play-card"
                             th:classappend="'d-' + *{playerCardsEven - 1} + '-' + ${game.dPlayerCards + iStat.index}"/>
                    </div>


                    <div class="score-box">
                        <div class="curr-result-user" th:text="#{game.player} + ':'">Player</div>
                        <div class="small-deli"></div>
                        <div class="curr-result-box" th:text="*{playerScore()}">100/200</div>
                    </div>

                    <div class="col-12 play-card-wrapper" th:if="${doubleDown}"
                         th:with="dd=${game.playerCards[__${#lists.size(game.playerCards) - 1}__]}">
                        <img th:src="@{'./../images/playing_card/' + ${dd.rank} + '-' + ${dd.suit} +'.png'}"
                             alt="" class="play-card double-down-card"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  CHOICE MODAL: EVEN MONEY -->
    <div class="choice-modal-wrapper row"
         th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_EVEN_MONEY_YES')) ? '' : 'd-none'}">
        <div class="modal-title col-12"
             th:with="even=#{dec.even.money}"
             th:text="${#strings.toUpperCase(even)} + '?'">
            EVEN MONEY?
        </div>
        <div class="col-6 choice-box">
            <form th:action="@{/play/even}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-even btn-sec-dec-yes"></button>
                <input type="hidden" name="evenMoney" value="true">
                <div class="btn-cmd"
                     th:with="yes=#{dec.yes}"
                     th:text="${#strings.toUpperCase(yes)}">
                    YES
                </div>
            </form>
        </div>
        <div class="col-6 choice-box">
            <form th:action="@{/play/even}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-even btn-sec-dec-no"></button>
                <input type="hidden" name="evenMoney" value="false">
                <div class="btn-cmd"
                     th:with="no=#{dec.no}"
                     th:text="${#strings.toUpperCase(no)}">
                    NO
                </div>
            </form>
        </div>
    </div>
    <!--  EO:CHOICE MODAL: EVEN MONEY  -->

    <!--  CHOICE MODAL: INSURANCE  -->
    <div class="choice-modal-wrapper row"
         th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_INSURANCE_NO')) ? '' : 'd-none'}">
        <div class="modal-title col-12"
             th:with="insurance=#{dec.insurance}"
             th:text="${#strings.toUpperCase(insurance)} + '?'">
            INSURANCE?
        </div>
        <div class="col-2"></div>
        <div class="col-4 choice-box" th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_INSURANCE_YES')) ? '' : 'd-none'}">
            <form th:action="@{/play/insurance}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-sec-dec btn-sec-dec-yes"></button>
                <input type="hidden" name="insurance" value="true">
                <div class="btn-cmd"
                     th:with="yes=#{dec.yes}"
                     th:text="${#strings.toUpperCase(yes)}">
                    YES
                </div>
            </form>
        </div>
        <div class="col-4 choice-box">
            <form th:action="@{/play/insurance}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-sec-dec btn-sec-dec-no"></button>
                <input type="hidden" name="insurance" value="false">
                <div class="btn-cmd"
                     th:with="no=#{dec.no}"
                     th:text="${#strings.toUpperCase(no)}">
                    NO
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <!--  EO:CHOICE MODAL: INSURANCE  -->

    <!--  CHOICE MODAL: DOUBLE DOWN  -->
    <div class="choice-modal-wrapper row"
         th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_DOUBLE_DOWN_NO')) ? '' : 'd-none'}">
        <div class="modal-title col-12"
             th:with="dd=#{dec.double.down}"
             th:text="${#strings.toUpperCase(dd)} + '?'">
            DOUBLE DOWN?
        </div>
        <div class="col-2"></div>
        <div class="col-4 choice-box" th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_DOUBLE_DOWN_YES')) ? '' : 'd-none'}">
            <form th:action="@{/play/dd-confirm}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-sec-dec btn-sec-dec-yes"></button>
                <input type="hidden" name="confirm" value="true">
                <div class="btn-cmd"
                     th:with="yes=#{dec.yes}"
                     th:text="${#strings.toUpperCase(yes)}">
                    YES
                </div>
            </form>
        </div>
        <div class="col-4 choice-box">
            <form th:action="@{/play/dd-confirm}"
                  th:method="post">
                <button type="submit" class="btn btn-decision btn-sec-dec btn-sec-dec-no"></button>
                <input type="hidden" name="confirm" value="false">
                <div class="btn-cmd"
                     th:with="no=#{dec.no}"
                     th:text="${#strings.toUpperCase(no)}">
                    NO
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <!--  EO:CHOICE MODAL: DOUBLE DOWN  -->

    <!--  MODAL ERROR  -->
    <div class="err-modal-wrapper row" th:classappend="${(#lists.isEmpty(game.errCodeList) ? 'd-none' : '') +
            (#lists.contains(game.errCodeList, game.errCodeMap.get('ERR_CODE_INSUFFICIENT_FUNDS')) ?
            'err-modal-wrapper-dep-link' : '')}">
        <div class="modal-title col-12" th:each="errCode : ${game.errCodeList}"
             th:text="#{err.code.__${errCode}__(#{min.bet},#{max.bet})}">
            Error Message
        </div>
        <div class="choice-box">
            <form th:action="@{/play/accept}"
                  th:method="post">
                <input type="hidden" name="depositRedirect" value="false">
                <button type="submit" class="btn btn-err btn-err-ok"
                        th:classappend="${#lists.contains(game.errCodeList,
                    game.errCodeMap.get('ERR_CODE_INSUFFICIENT_FUNDS')) ? 'btn-err-smaller' : ''}">
                    <i class="fa-solid fa-check fa-xl" th:if="${#lists.contains(game.errCodeList,
                    game.errCodeMap.get('ERR_CODE_INSUFFICIENT_FUNDS'))}"></i>
                    <i class="fa-solid fa-check fa-2xl" th:unless="${#lists.contains(game.errCodeList,
                    game.errCodeMap.get('ERR_CODE_INSUFFICIENT_FUNDS'))}"></i>
                </button>
            </form>
        </div>
        <div class="choice-box"
             th:classappend="${#lists.contains(game.errCodeList,
               game.errCodeMap.get('ERR_CODE_INSUFFICIENT_FUNDS')) ? '' : 'd-none'}">
            <form th:action="@{/play/accept}"
                  th:method="post">
                <input type="hidden" name="depositRedirect" value="true">
                <button type="submit" class="go-to-link btn btn-outline-success"
                        th:with="go_to_deposit=#{link.deposit}"
                        th:text="${#strings.toUpperCase(go_to_deposit)}">
                </button>
            </form>

<!--            <a class="go-to-link btn btn-outline-success"-->
<!--               th:href="@{/credit-card/deposit}"-->
<!--               th:with="go_to_deposit=#{link.deposit}"-->
<!--               th:text="${#strings.toUpperCase(go_to_deposit)}">-->
<!--                GO TO DEPOSIT-->
<!--            </a>-->
        </div>
    </div>
    <!--  EO: MODAL ERROR -->

    <!--  BJ DECISION  -->
    <div class="row decision-box-wrapper">
        <div class="row inner-decision-box-wrapper justify-content-center">
            <div class="col-1 decision dec-sur">
                <form th:action="@{/play/surrender}"
                      th:method="post">
                    <button type="submit" class="btn btn-decision btn-surrender"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_SURRENDER')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{dec.surrender}">
                        Surrender
                    </div>
                </form>
            </div>
            <div class="col-1 decision dec-spl">
                <form action="">
                    <button type="submit" class="btn btn-decision btn-split"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_SPLIT')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{dec.split}">
                        Split
                    </div>
                </form>
            </div>
            <div class="col-1 decision dec-dou">
                <form th:action="@{/play/double-down}"
                      th:method="post">
                    <input type="hidden" name="doubleDown" value="true">
                    <button type="submit" class="btn btn-decision btn-double"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_DOUBLE_DOWN')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{bet.double}">
                        Double
                    </div>
                </form>
            </div>
            <div class="col-1 decision dec-sta">
                <form th:action="@{/play/stand}"
                      th:method="post">
                    <button type="submit" class="btn btn-decision btn-stand"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_STAND')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{dec.stand}">
                        Stand
                    </div>
                </form>
            </div>
            <div class="col-1 decision dec-hit">
                <form th:action="@{/play/hit}"
                      th:method="post">
                    <button type="submit" class="btn btn-decision btn-hit"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_HIT')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{dec.hit}">
                        Hit
                    </div>
                </form>
            </div>
            <div class="col-1 decision dec-dea">
                <form th:action="@{/play/deal}"
                      th:method="post">
                    <input class="curr-bet-value" type="hidden" name="betStr" value="0.00">
                    <button type="submit" class="btn btn-decision btn-deal"
                            th:classappend="${#lists.contains(game.availableChoices,
                            game.availableChoicesCodeMap.get('CHOICE_DEAL')) ? '' : 'disabled'}">
                    </button>
                    <div class="btn-cmd" th:text="#{dec.deal}">
                        Deal
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  EO: BJ DECISION  -->

    <!--  BET CHIP  -->
    <div class="row chip-box-wrapper"
         th:classappend="${#lists.contains(game.availableChoices,
         game.availableChoicesCodeMap.get('CHOICE_CHIP_OPERATIONS')) ? '' : 'd-none'}">
        <div class="row inner-chip-box-wrapper justify-content-center">
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-250">
                        <span class="chip-value">2.5</span>
                    </button>
                </form>
            </div>
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-500">
                        <span class="chip-value">5</span>
                    </button>
                </form>
            </div>
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-1000">
                        <span class="chip-value">10</span>
                    </button>
                </form>
            </div>
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-2500">
                        <span class="chip-value">25</span>
                    </button>
                </form>
            </div>
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-5000">
                        <span class="chip-value">50</span>
                    </button>
                </form>
            </div>
            <div class="col-1 chip">
                <form action="">
                    <button type="button" class="btn btn-chip chip-10000">
                        <span class="chip-value">100</span>
                    </button>
                </form>
            </div>
            <div class="col-1 bet-action">
                <form action="">
                    <button type="button" class="btn btn-bet">
                        <i class="fas fa-redo-alt fa-2x"></i>
                    </button>
                    <span th:text="#{bet.repeat}">Repeat</span>
                </form>
            </div>
            <div class="col-1 bet-action">
                <form action="">
                    <button type="button" class="btn btn-bet btn-chip-double">
                        <i class="fas fa-angle-double-up fa-2x"></i>
                    </button>
                    <span th:text="#{bet.double}">Double</span>
                </form>
            </div>
            <div class="col-1 bet-action">
                <form action="">
                    <button type="submit" class="btn btn-bet">
                        <i class="fas fa-window-close fa-2x"></i>
                    </button>
                    <span th:text="#{bet.clear}">Clear</span>
                </form>
            </div>
        </div>
    </div>
    <!--  EO:BET CHIP  -->

    <!--  BALANCE  -->
    <div class="row balance-box-wrapper">
        <div class="col-1"></div>
        <div class="col-2 cash-stat">
            <div class="balance-box-title" th:text="#{bet.balance} + ':'">
                Balance
            </div>
            <div class="row balance-box-value">
                <div class="">
                    <span class="balance"
                          th:text="${#numbers.formatCurrency(game.wallet.balance)}">100.55</span>
                </div>
            </div>
        </div>
        <div class="col-2 cash-stat">
            <div class="last-bet-box-title" th:text="#{bet.last.win} + ':'">
                Last Win
            </div>
            <div class="row last-bet-box-value">
                <div class="">
                    <span th:text="${#numbers.formatCurrency(game.wallet.lastWin)}">1.23</span>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2 cash-stat">
            <div class="curr-bet-box-title" th:text="#{bet.curr} + ':'">
                Current Bet
            </div>
            <div class="row curr-bet-box-value">
                <div class="">
                    <span class="curr-bet"
                          th:text="${#numbers.formatCurrency(game.wallet.currentBet)}">1.23</span>
                </div>
            </div>
        </div>
        <div class="col-2 bet-legend">
            <div>
                <span th:text="#{bet.min} + ':'">Min bet:</span>
                <span th:text="${#numbers.formatCurrency(10)}">10</span>
            </div>
            <div>
                <span th:text="#{bet.max} + ':'">Max bet:</span>
                <span th:text="${#numbers.formatCurrency(1000)}">1000</span>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <!--  EO:BALANCE  -->
</div>

<!--<div id="dimmer"></div>-->
<script defer th:src="@{/js/jquery/jquery.js}"></script>
<script defer th:src="@{/js/play/bj-play.js}"></script>
</body>
</html>